<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bj.mapper.UserMapper">

    <select id="getUserName" resultType="String">
        SELECT username FROM user WHERE username=#{loginName}
    </select>

    <select id="getUserPwd" resultType="String">
        SELECT userpwd FROM user WHERE userpwd=#{loginPwd} and username=#{loginName}
    </select>

</mapper>